.container {
  background-color: #111;
  border-radius: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 580px;
  box-shadow: 0px 0px 8px 0px black;
}

.title {
  color: white;
  letter-spacing: 4px;
  font-size: 22px;
}
