.container {
  background-color: #212227;
  border-radius: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 580px;
}

.title {
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 100;
}
