.infoContainer {
    border-radius: 25px;
    border: 1px solid #DEDEDF;
    padding: 10px;
}

.title {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 6px;
}

.textContainer {
    margin-bottom: 7px;
}

.subtext {
    color: #AAAAAA;
}

.accentText {
    color: #555555;
    font-weight: 600;
}