.navlist {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .secondary {
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.company {
  width: 300px;
  font-size: 1.2rem;
}

.logout {
  border-style: none;
  border-radius: 50px;
  background: black;
  color: white;
  margin-left: 15px;
  font-weight: 400;
  font-size:0.7rem;
  height: 25px;
  width:80px;
  cursor: pointer;

  &:hover{
    color: black;
    background-color:white;
  }
}