.container {
  border: 1px solid #dededf;
  border-radius: 50px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.17);
}

.nameContainer {
  display: flex;
  flex-direction: column;
}

.snackName {
  color: #555555;
  font-weight: 500;
}

.snackAmount {
  font-weight: 600;
  color: black;
  justify-self: end;
}

.brandName {
  color: #aaaaaa;
}
