.container {
  background-color: white;
  padding: 50px;
  border-radius: 25px;
  width: 100%;
  margin: 50px;
  max-width: 1000px;
}

.background {
  background-color: #01d1bf;
  height: 100%;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
}

.logintitle {
  font-size: 30px;
  color: #555555;
  font-weight: 500;
  margin-bottom: 20px;
}

.formwrapper {
  display: flex;
  flex-direction: column;
}

.registerLink {
  color: dodgerblue;
  font-size: 17px;
}

.loginfield {
  background-color: white;
  border-radius: 25px;
  height: 40px;
  border-style: none;
  padding-left: 25px;
  margin-bottom: 15px;
  border: 1px solid #dededf;
}

.fieldlabel {
  color: #555555;
  font-weight: 500;
  margin-bottom: 5px;
}

.loginbutton {
  border-style: none;
  width: 100%;
  height: 40px;
  color: white;
  background-color: #974d8e;
  border-radius: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.15s ease;
}

.loginbutton:hover {
  background-color: dodgerblue;
}

.err {
  color: red;
  font-size: 18px;
}

.errors {
  margin-bottom: 5px;
}

// .welcometitle {
//     width: 50%;
// }

// .welcomecontainer{
//     background-image: url("../../assets/images/snackbox.png");
//     background-size: cover;
//     background-repeat: no-repeat;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
// }
