.container {
  background-color: white;
  padding: 50px;
  border-radius: 25px;
  width: 100%;
  margin: 50px;
  height: 400px;
  max-width: 800px;
  box-shadow: 0px 3px 12px 0px rgba(53, 53, 53, 0.452);
}

.background {
  background-image: url("../../assets/images/snackbox.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 91vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logintitle {
  font-size: 30px;
  color: #555555;
  font-weight: 500;
  margin-bottom: 20px;
}

.formwrapper {
  display: flex;
  flex-direction: column;
}

.registerLink {
  color: dodgerblue;
  font-size: 17px;
}

.loginfield {
  background-color: white;
  border-radius: 25px;
  height: 40px;
  border-style: none;
  padding-left: 25px;
  margin-bottom: 15px;
  border: 1px solid #dededf;
}

.fieldlabel {
  color: #555555;
  font-weight: 500;
  margin-bottom: 5px;
}

.loginbutton {
  border-style: none;
  border-radius: 50px;
  background: black;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  height: 40px;
  width: 100%;
  cursor: pointer;
}

.loginbutton:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.767);
}

.err {
  color: red;
  font-size: 18px;
}

.errors {
  margin-bottom: 5px;
}

// .welcometitle {
//     width: 50%;
// }

// .welcomecontainer{
//     background-image: url("../../assets/images/snackbox.png");
//     background-size: cover;
//     background-repeat: no-repeat;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
// }
